#banner {
  background: url("entrepot.jpg") top center;
  background-size: cover;
  background-color: #87CEFA;
  position: relative;
  color:#fff;
  margin-bottom:0;
}

section{
	font-size: 28px;
}

#presentation{
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}